html {
    height: 100%;
}

body {
    background-image: url(be.jpg);
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.4rem !important;
    font-family: 'Roboto';
    font-style: italic;
    color: white;
}

a:hover {
    text-decoration: none;
}

.form-group {
    color: black;

}

.form-group {
    color: black;
}


.link-custom {
    color: black;
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #C6C6D9, #C6C6D9, #C6C6D9);
    overflow-x: hidden;
    transition: all 400ms;
}

.adds {
    color: white;
    height: 100%;
    width: 220px;

}





.sidenav a {
    text-decoration: none;
    color: black;
    display: block;
    font-family: 'Poppins SemiBold';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 36px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 250ms;
}

.sidenav a:hover {
    color: #dadada;
}

.element-container {
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 1rem;

}

.element {
    position: absolute;
    margin-top: 6.3%;
}

.active {
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    transition: all 500ms;
}

.active::after {
    content: "";
    top: 0;
    right: 0;
    width: 3%;
    position: absolute;
    background: #ffffff;
    height: 100%;
}


.container {
    color: white;

}

.active-management {
    position: relative;
    height: 70px;
    background: white(196, 196, 196, 0.7);
}

.active-management::after {
    content: "";
    top: 0;
    right: 0;
    width: 3%;
    position: absolute;
    background-image: url(be.jpg);
    background: #ffffff;
    height: 100%;
}

.nav {
    width: 100%;
    background: #C6C6D9;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    height: 5rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.custom-form {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px;

}

.modal-content {
    color: white;
    font-family: 'Roboto';
    font-style: italic;
    background-image: url(be.jpg);
}

.custom-form:focus {
    outline: none !important;
    border: 0px;

}

.nav-container {
    margin-left: 265px;
    margin-top: 1.2rem;
}

.user-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 4.2rem;
    margin-top: 1.1rem;
    display: inline-block;
}

.mr-negative {
    margin-top: -6.4px;
}

.main {
    margin-left: 245px;
    padding: 0px 10px;
    margin-top: 6rem;

}

.card-shadow {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}



.cursor-pointer {
    cursor: pointer;
}

.ml-6 {
    margin-left: 4rem;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: .9rem;
    }

    .sidenav {
        width: 80px;
    }

    .main {
        margin-left: 90px;
    }

    svg {
        width: 200px;
    }

    .active {
        height: 50px;
    }

    .active::after {
        width: 6px;
    }

    .active-management {
        height: 52px;
    }

    .active-management::after {
        width: 6px;
    }

    .option {
        display: none;
    }

    .nav-container {
        margin-left: 125px;
    }
}