@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
  padding: 0vmin 0vmin;

}




.logo {
  width: 180px;
  margin-left: -50%;
}


:root {
  --Sniglet-font: "Rubik", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #777777, #3a3a3a);
  --light-gray: rgba(255, 255, 255, 0.877);
}

.halabira {
  width: 80%;
  margin: -4% 20% 5% 10%
}

.text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -40%;
}

.halabira img {
  margin-top: -2%;
  width: 114%;
  margin-left: -1%;
}

.tristan button {
  position: relative;
  left: 589px;
  top: -201px;
  width: 25%;
  height: 50%;
  border-radius: 10px;
  font-style: normal;
  color: black;
}

.trist button {
  position: relative;
  left: 960px;
  top: -290px;
  width: 25%;
  height: 50%;
  margin-left: 0%;
  border-radius: 10px;
  font-style: normal;
  color: black;
}

.tris button {
  position: relative;
  left: 215px;
  top: -380px;
  width: 25%;
  height: 50%;
  margin-left: 0%;
  border-radius: 10px;
  font-style: normal;
  color: black;
  max-width: 600px;
}

.halabira button {
  margin-top: -43%;
  width: 11%;
  margin-left: 39%;
  border-radius: 10px;
  font-size: 19;
}

.container-wrapper button {
  position: absolute;
  top: 30%;
  left: 50%;
}

.text-wrapper h1 {
  text-align: center;
  color: #e5e5e5
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 1em;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(138, 136, 136, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {

  color: gray;

}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header {
  background: gray;
  background: var(--bggradient);

}

header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

.section-1 {
  padding: 10vmin 0vmin;
}


.section-1 .row .col-md-6 .tim img {
  margin-left: 145%;
  width: 90%;
  border-radius: 0.5em;
  margin-top: -129%;

}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  margin-left: -100%;
  margin-right: 100%;

  top: 9 vmin;
  left: -20vmin;
  background: gray(255, 255, 255);
  border-radius: 3px;

  padding: 10vmin 6vmin 15vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.john button {
  position: relative;
  left: 100px;
  top: 120px;
  direction: 60%;
  border-radius: 10px;
  font-style: normal;
  color: black;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

.section-1 {
  padding: 10vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
  margin-left: 95%;
  width: 130%;
  border-radius: 0.5em;
  margin-top: -10%;
}

.section-1 .row .col-md-6 .tes img {
  margin-left: 95%;
  width: 130%;
  border-radius: 0.5em;
  margin-top: -10%;
}


.section-1 .row .col-md-6 .tim img {
  margin-left: 145%;
  width: 90%;
  border-radius: 0.5em;
  margin-top: -129%;

}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  margin-left: -100%;
  margin-right: 100%;

  top: 9 vmin;
  left: -20vmin;
  background: rgb(255, 255, 255);
  border-radius: 3px;

  padding: 10vmin 6vmin 15vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.john button {
  position: relative;
  left: 100px;
  top: 120px;
  direction: 60%;
  border-radius: 10px;
  font-style: normal;
  color: black;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}




.section-5 {
  padding: 20vmin 0vmin;
}


.section-5 .row .col-md-6 .neg img {
  position: absolute;
  width: 296px;
  left: 900px;
  top: -30px;

}

.section-5 .row .col-md-6:last-child {
  position: relative;
}

.section-5 .row .col-md-6 .panel {
  margin-left: -100%;
  margin-right: 100%;
  position: relative;
  top: -5vmin;
  left: -18vmin;
  width: 240%;
  height: 101%;
  background: gray(255, 255, 255);
  border-radius: 3px;
  padding: 10vmin 6vmin 15vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.john button {
  position: relative;
  left: -200px;
  top: 85px;
  direction: 60%;
  border-radius: 10px;
  font-style: normal;
  color: black;
}

.section-5 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-5 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}



/*  Section 2  */

.cover {

  position: absolute;
  width: 1500px;
  left: 30px;
  top: -50px;
  height: 60vmin;
  background: url("../assets/huhhuhuhuhuhuh.png");
  border-image-width: 20px;
  background-position: -170rem -4rem;
  background-size: 91%;
  position: relative;
}

.cover.content.img {
  position: relative;
  left: -900px;
  top: 85px;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 999;
}

.cover .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 19vmin;
}

.cover .content>h1 {
  font-family: var(--Patua);
  font-size: 6vmin;
  color: whitesmoke;
}

.cover .content>p {
  font-family: var(--Rubik);
  font-size: 2vmin;
  color: #e5e5e5;
}

.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 17rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
  margin-top: -15vmin;
}

.numbers .rect h1 {
  font-size: 5rem;
  color: tomato;
}

.numbers .rect>p {
  font-family: var(--Patua);
}

.purchase>h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}

.purchase>p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

.purchase .cards .card {
  position: relative;
  left: 700px;
  top: 81px;
  width: 40rem;
  margin: 0vmin 0vmin;
}

.img.content {
  position: absolute;
  width: 523px;
  height: 217px;
  left: 700px;
  top: 1999px;
}

.purchase .cards .card1 {
  position: relative;
  left: 60px;
  top: 59px;
  width: 40rem;
  margin: 0vmin 0vmin;

}


.purchase .cards .card2 {
  position: absolute;
  width: 423px;
  height: 217px;
  left: 700px;
  top: 1999px;
  margin: 0vmin 0vmin;
}

.purchase .cards .card3 {
  position: absolute;
  width: 223px;
  height: 217px;
  left: 1122px;
  top: 1992px;
  margin: 0vmin 0vmin;

}

.purchase .cards .card4 {
  position: absolute;
  width: 643px;
  height: 217px;
  left: 57px;
  top: 2290px;
  margin: 0vmin 0vmin;
}




.cards div {
  padding: 0;
  margin: 0;
}

.cards .title {
  background: rgba(208, 241, 241, 0.199);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
}

.card .card-text {
  padding: 2.5rem 3rem;
  color: var(--light-black);
}

.card-body .pricing {
  background: rgba(208, 241, 241, 0.199);
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .pricing>h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;
}



.section-3 {
  height: 90vmin;
  margin-top: 30vmin;
  border-radius: 3em;
  background: var(--bggradient);
}

.section-3 .col-md-12>h1 {
  position: relative;
  left: 445px;
  top: -35px;
  width: 25%;
  padding: 2em 0 0.70em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-3 .col-md-12>p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop1 {
  position: relative;
  left: -200px;
  top: -35px;
  width: 70%;
  height: 100%;
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;

}

.section-3 .desktop2 {
  position: relative;
  left: 200px;
  top: -35px;
  width: 70%;
  height: 100%;
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;

}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}

/* Section Team */

.section-4 .container h1 {
  font-size: 6vmin;
  padding-top: 14vmin;
}

.section-4 .team {
  padding: 10vmin 4vmin;
}

img.pic {
  position: absolute;
  width: 296px;
  left: -250px;
  top: -60px;
}

img.pic2 {
  position: absolute;
  width: 466px;
  left: -170px;
  top: -60px;
}

.section-4 .card {
  width: 22em;
  margin-top: 10vmin;
}

.section-4 .card .card-text {
  padding: 0.5em;
}

.section-4 .card-body>a {
  font-size: 1.5em;
}

.section-4 .carousel-item {
  padding-left: 3rem;
}



footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p>span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
}

/* It is Adjacent sibling combinator */

footer .column i+i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(112, 112, 112, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}