<template>
  <div id="app">
    <NavBar />
    <SideBar isActive="Books" />

    <div class="main">
      <div class="container pt-4">
        <div class="add">
          <img
            v-b-modal.addModal
            Mangement
            Modal
            src="../../../assets/images/add.png"
            height="27"
            data-toggle="modal"
            data-target="#addModal"
            class="cursor-pointer ml-4 mt-1 position-absolute"
          />
          <h4
            v-b-modal.addModal
            v-b-modal.AddBooks
            @click="$bvModal.show('AddBooks')"
            class="ml-6 cursor-pointer"
          >
            Add Books
          </h4>
        </div>
        <div class="row mt-2">
          <div class="col-11 col-sm-11 col-md-11 col-lg-11">
            <div class="row justify-content-end mr-1 mb-3">
              <input
                type="text"
                class="rounded-pill cursor-pointer color-gray btn-sm"
                placeholder="Search"
              />
            </div>
            <div class="card pl-4 pt-4 pr-4 mb-4 card-shadow">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Author</th>
                      <th>Copies Avalable</th>
                      <th>Category</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(Books, index) in BooksModelFilter" :key="index">
                      <td>
                        {{ Books.bookname }}
                      </td>
                      <td>
                        {{ Books.Author }}
                      </td>
                      <td>
                        {{ Books.CopiesAvalable }}
                      </td>
                      <td>
                        {{ Books.EmailAddress }}
                      </td>

                      <a href="#">
                        <img
                          src="../../../assets/images/edit.png"
                          width="30px"
                          height="30px"
                          @click="ToBeUpdated(index)"
                          v-b-modal.UpdateBooks
                        />
                      </a>

                      <a
                        href="#"
                        @click="SelectedBooks = index"
                        v-b-modal.DeleteModal
                        ><img
                          src="../../../assets/images/delete.png"
                          width="30px"
                          height="30px"
                        />
                      </a>

                      <a href="#">
                        <img
                          src="../../../assets/images/borrow.png"
                          width="30px"
                          height="30px"
                          @click="ToBeUpdated(index)"
                          v-b-modal.UpdateBooks
                        />
                      </a>

                      <a href="#">
                        <img
                          src="../../../assets/images/return.png"
                          width="30px"
                          height="30px"
                          @click="ToBeUpdated(index)"
                          v-b-modal.UpdateBooks
                        />
                      </a>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-modal id="addModal" centered title="Add Books">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="exampleFormControlInput1" placeholder="Book Name"></label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder=" Book Name"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1"></label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Author"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1"></label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Copies Avalable"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1"></label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Category"
          />
        </div>
      </form>
      <template #modal-footer="{ ok, cancel }">
        <b-button variant="secondary" @click="ok()"> Add </b-button>
        <b-button variant="info" @click="cancel()"> Cancel</b-button>
      </template>
    </b-modal>

    <b-modal
      id="deleteModal"
      centered
      title="Confirm Delete"
      @click="modalShow = !modalShow"
    >
      <p class="my-4">Are you sure you want to delete this book?</p>
      <template #modal-footer>
        <b-button variant="info" @click="DeleteBooks(SelectedBooks)">
          Cancel
        </b-button>
        <b-button variant="danger" @click="$bvModal.hide('DeleteModal')">
          Confirm
        </b-button>
      </template>
    </b-modal>

    <b-modal id="AddBooks" title="Add Books" hide-header-close ref="modal">
      <div class="modal-body p-4">
        <div></div>
        <form id="AddBooks" ref="modal">
          <div class="form-group">
            <input
              id="bookname"
              v-model="Form.bookname"
              type="text"
              name="name"
              class="form-control form-control-lg"
              placeholder="Name "
            />
          </div>
          <div class="form-group">
            <input
              id="Author"
              v-model="Form.Author"
              type="text"
              name="Author"
              class="form-control form-control-lg"
              placeholder=" Author "
            />
          </div>
          <div class="form-group">
            <input
              id="CopiesAvalable"
              placeholder=" Copies Avalable"
              v-model="Form.CopiesAvalable"
              type="text"
              name="Copies"
              class="form-control form-control-lg"
            />
          </div>
          <div class="form-group">
            <input
              id="EmailAddress"
              placeholder=" Category"
              v-model="Form.EmailAddress"
              type="text"
              name="email"
              class="form-control form-control-lg"
              value="Category"
              required
            />
          </div>
        </form>
      </div>
      <template #modal-footer class="float-right">
        <b-button variant="secondary" @click="AddBooks">add</b-button>
        <b-button variant="info" @click="HideModal()"> Cancel</b-button>
      </template>
    </b-modal>

    <b-modal
      id="UpdateBooks"
      title="Update Books"
      centered
      modal-header
      no-close-on-backdrop
      no-close-on-esc
      hide-header-close
      ref="modal"
    >
      <div class="modal-body p-4">
        <div></div>
        <form id="AddBooks" ref="modal">
          <div class="form-group">
            <input
              id="bookname"
              v-model="Form.bookname"
              type="text"
              name="name"
              class="form-control form-control-lg"
              placeholder="Input Name "
            />
          </div>
          <div class="form-group">
            <input
              id="Author"
              v-model="Form.Author"
              type="text"
              name="Author"
              class="form-control form-control-lg"
              placeholder="Input Author "
            />
          </div>
          <div class="form-group">
            <input
              id="CopiesAvalable"
              placeholder="Input Copies Avalable"
              v-model="Form.CopiesAvalable"
              type="text"
              name="CopiesAvalable"
              class="form-control form-control-lg"
            />
          </div>
          <div class="form-group">
            <input
              id="EmailAddress"
              placeholder="Input Category"
              v-model="Form.EmailAddress"
              type="text"
              name="email"
              class="form-control form-control-lg"
              value="Category"
              required
            />
          </div>
        </form>
      </div>

      <template #modal-footer class="float-right">
        <b-button variant="secondary" @click="HideModal()"> Cancel</b-button>
        <b-button variant="info" @click="UpdateBooks">Ok</b-button>
      </template>
    </b-modal>

    <b-modal size="300px" hide-header id="DeleteModal" centered ref="modal">
      <p class="my-4">Are you sure you want to delete this book?</p>
      <template #modal-footer class="float-right">
        <div class="w-100 float-right">
          <b-button variant="info" @click="$bvModal.hide('DeleteModal')">
            Cancel
          </b-button>
          <b-button variant="danger" @click="DeleteBooks(SelectedBooks)">
            Confirm
          </b-button>
        </div>
      </template>
    </b-modal>
  </div>
</template>


<script src="../../../assets/js/books.js"></script>
<script>
import Books from "../../../assets/js/books.js";
export default Books;
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      Form: {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      },
      BookModel: [],
      SelectedBook: "",
      Search: "",
    };
  },
  methods: {
    ...mapActions(["fetchBook", "addBook", "updateBook", "deleteBook"]),
    addBookModal() {
      if (
        this.Form.name == "" ||
        this.Form.author == "" ||
        this.Form.copies == "" ||
        this.Form.category_id == ""
      ) {
        this.ErrorToast();
      } else {
        this.addBook(this.Form);
        console.log(this.form);
        this.HideModal();
        this.AddToast();
      }
    },

    editBookModal(index) {
      console.log(index);
      this.updateBook(this.Form);
      this.HideModal();
      this.EditToast();
    },

    deleteBookModal() {
      this.deleteBook(this.SelectedBook);
      this.HideModal();
    },

    HideModal() {
      this.$refs.modal.hide();
      this.FormReset();
    },
    FormReset() {
      this.Form = {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      };
      this.SelectedBook = "";
    },

    AddToast() {
      this.$toast.success(`Book Added Successfully!`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    EditToast() {
      this.$toast.success(`Book Updated Successfully!`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Error! Empty Input Field/s`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  },

  created() {
    this.fetchBook();
  },
  computed: {
    ...mapGetters(["AllBooks"]),
    BookModelFilter() {
      return this.AllBooks.filter((Book) => {
        return this.Search.toLowerCase()
          .split(" ")
          .every((v) => Book.name.toLowerCase().includes(v));
      });
    },
  },
};
</script>
